body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: #273641;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
}

/* Chat Layout */
.chat-container {
    display: flex;
    height: 90vh;
}

.sidebar {
    width: 20%;
    background: #222;
    color: white;
    padding: 15px;
}

.sidebar img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Zona de mensajes */
.chat-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #273641, #cadffc);
    padding: 15px;
    overflow-y: auto;
}

#messages {
    flex: 1;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    padding: 10px;
    background: #dfdfdf7c;
}

.chat-input input[type="text"] {
    flex: 1;
    padding: 10px;
}

.chat-input button {
    background: #0078D7;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
